<nav>
    <div class="line-gold"></div>
    <div class="top-navbar-container">
        <div class="top-navbar-link" routerLinkActive="active"><a routerLink="/home" >Home</a></div>
        <div class="top-navbar-link" routerLinkActive="active"><a routerLink="/odin" >Odin</a></div>
        <div class="top-navbar-link" routerLinkActive="active"><a routerLink="/suggestion-board" >Suggestions</a></div>
        <!--
            <div class="top-navbar-link" routerLinkActive="active"><a routerLink="/platform" >Platform</a></div>
            <div class="top-navbar-link" routerLinkActive="active"><a routerLink="/support-us" >Support Us</a></div>
            <div class="top-navbar-link" routerLinkActive="active"><a routerLink="/get-started" >Get Started</a></div>
        -->
    </div>
</nav>