<footer>
    <div style="margin-top: 50px;" class="separator-90"></div>
    <div class="m-20">
        <div class="footer-social-icons">
            <h5 class="footer-title-menu">Sections</h5>
            <ul class="footer-link-animation>">
                <li><a class="top-navbar-link" routerLinkActive="active" class="footer-link" routerLink="/home">Home</a>
                </li>
                <li><a class="top-navbar-link" routerLinkActive="active" class="footer-link" routerLink="/odin">Odin</a>
                </li>
                <li><a class="top-navbar-link" routerLinkActive="active" class="footer-link"
                        routerLink="/suggestion-board">Suggestions</a></li>
            </ul>
        </div>
    </div>
    <div class="m-20">
        <div class="footer-social-icons">
            <h5 class="footer-title-menu">Follow us</h5>
            <ul class="social-icons social-icons-animation social-icons-padding">
                <li><a href="https://www.instagram.com/valhollrt/" class="social-icon"> <i
                            class="fab fa-instagram"></i></a></li>
                <li><a target="_blank" href="https://www.twitter.com/valhollrt" class="social-icon"> <i
                            class="fab fa-twitter"></i></a></li>
                <li><a target="_blank" href="mailto:valhollrt@gmail.com" class="social-icon"> <i
                            class="fa fa-envelope"></i></a></li>
                <li><a target="_blank" href="https://www.youtube.com/channel/UCCaCAxgU7qpHohRjgAV23vg/featured"
                        class="social-icon"> <i class="fab fa-youtube"></i></a></li>
                <li><a target="_blank" href="https://linkedin.com/company/valhollrt" class="social-icon"> <i
                            class="fab fa-linkedin"></i></a></li>
                <li><a target="_blank" href="https://github.com/vallholrt" class="social-icon"> <i
                            class="fab fa-github"></i></a></li>
            </ul>
        </div>
        <div class="create-by inner">
            <h6>Created by <a href="https://www.sparanzza.com" target="_blank">Sparanzza</a></h6>
        </div>
    </div>
    <div class="separator-90"></div>
    <div class="footer-container minor-link">
        <div class="menu-left">
            <span>Copyright ValhollRT (2020). All rights reserved.</span> <span><b
                    style="margin-left: 10px; letter-spacing: .2px;">Last update 31/08/2020</b></span>
        </div>
        <div class="menu-right">
            <span>privacy</span>
        </div>
    </div>
    <div style="padding: 10px;"></div>
</footer>