<div>
    <div class="inner">
        <h1>Odin is Out!</h1>
        <h4>{{this.gts.VERSION}} has been release!</h4>
        <div class="margin-paragraph">
            <div class="m-20">
                <p>Check it Out now!
                    <span style="margin: 20px;" class="write-btn"><a target="_blank"
                            href="https://valhollrt.com/Odin">Go to
                            Odin</a></span>
                </p>
            </div>
        </div>
    </div>


    <div *ngFor="let r of this.gts.listReleasedNotesVersion.reverse()">
    <div class="inner-t2 justify-paragraph-full">
        <div class="margin-paragraph">
            <div class="m-10">

                <a target="_blank" [href]="this.gts.GITHUBTAGSLINK + r.version">Release {{r.version}}</a>
                <div class="m-10">
                    <div *ngIf="r.taskFeatures"><strong>FEATURES</strong></div>
                    <div *ngFor="let t of r.taskFeatures">
                        <span>{{t.commit}} </span>
                        <span>{{t.title}}</span>
                    </div>
                    <div class="m-10"></div>
                    <div *ngIf="r.taskImprovements"><strong>IMPROVEMENTS</strong></div>
                    <div *ngFor="let t of r.taskImprovements">
                        <span>{{t.commit}} </span>
                        <span>{{t.title}}</span>
                    </div>
                    <div class="m-10"></div>
                    <div *ngIf="r.taskBugs"><strong>BUGS</strong></div>
                    <div *ngFor="let t of r.taskBugs">
                        <span>{{t.commit}} </span>
                        <span>{{t.title}}</span>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="inner-t2 justify-paragraph-full">
    <div class="margin-paragraph">
        <div class="m-20">
            <p>At the end, It has been released the first alpha testing of <strong>Odin</strong> Version 0.0.2 (What
                happened to version 0.0.1 ? 😬😬😬 ). This release is the first step of many. Our target in the
                <strong>phase 1</strong> is to develop the main components of Odin <strong>Broadcast</strong>
                Graphics
                Designer.</p>
        </div>
        <div class="m-20">
            <p>For now the <strong>phase 1</strong> need to reach all components necessary to get the main goal,
                <strong>Design</strong> basic graphics and prepare the base of all components to work fine and
                complete functionality</p>
        </div>
        <div class="m-20">
            <p>During the following months, we are working to improve, to get more information about all new
                features, improvements, issues and task that are processed in every release</p>
        </div>
        <div class="m-20">
            <p>Also you can visit the ValhollRT <a target="_blank" href="https://github.com/VallholRT">repository</a>,
                to support us with your wonderfuls Pull
                request, and participate in the project <a target="_blank"
                    href="https://github.com/orgs/VallholRT/projects/1">Odin Kanban</a></p>
        </div>
        <div class="m-20">
            <p>Please follow us in our media social to keep updating about all happened on this project. Our side
                we keep working hard to get as soon as possible the next reelease</p>
        </div>
        <div class="m-20">
            <p>Thanks for all, and don't forget to write us a message on <a routerLinkActive="active"
                    class="footer-link" routerLink="/suggestion-board">Suggestions Section</a>, Stick Around!</p>
        </div>
    </div>
</div>
</div>