<div>
    <div class="inner">
        <div class="home-logo"></div>
        <h1>The Broadcast 3D System Free</h1>
        <h4>Create awesosme and beautiful graphics and content digital, simple, faster and flexible.</h4>
    </div>
    <div class="inner-t2 justify-paragraph-full">
        <p><strong>ValhollRT</strong> is a personal project that was born in 2018. For two years, slowly, methodologies and new technologies tools have been studied to can help many people to get a system great graphics system.</p>
        <p>Its objective is the creation of a free online platform for the creation of <strong>Broadcast</strong> graphics design and digital content or representation of data <strong>graphics.</strong></p>
        <p>Its main objective is to be a great alternative to other software in the broadcast industry, although this will not be the only characteristic.</p>
        <p>This new project called ValhollRT is also a <strong>tribute</strong> to great graphic designers who have worked with me and have contributed great ideas, which will be captured with love and passion for this exciting adventure.</p>
        <p>Every 15 days, both the main website and the first alpha versions of the new ValhollRT system will be updated, not only its implementation but also its repositories, route map, and much more.</p>
        <p>Stick Around ;)</p>
        <small>last update 31/05/2020</small>
    </div>
    <div class="create-by inner">
        <h5>Created by <a href="https://www.sparanzza.com" target="_blank">Sparanzza</a></h5>
    </div>
</div>